
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.aux
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.synctex.gz
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.pdf
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.blg
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.bbl
