
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.aux
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.synctex.gz
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.pdf
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.blg
BMC-Journal of Biomedical Semantics/submission 0/bmc_template/ManuScript.bbl
Implemenation/Data/schema_processed_1615348504955.json
Implemenation/Data/AmplifiedSimilarity-bert-base-nli-mean-tokensV1.0.txt
Implemenation/Data/schema_processed_1615541107002.json
Implemenation/Data/data.json
Implemenation/Data/BaseSimilarity-table.txt
Implemenation/Data/BaseSimilarity-table.csv
Implemenation/Data/AttributeMatrix.csv
Implemenation/Data/attempt4.txt
Implemenation/Data/AmplifiedSimilarity-bert-base-nli-mean-tokensV0.1.txt
Implemenation/Data/data.json
Implemenation/Data/BaseSimilarity-table.txt
Implemenation/Data/BaseSimilarity-table.csv
Implemenation/Data/AttributeMatrix.csv
Implemenation/Data/attempt4.txt
Implemenation/.idea/vcs.xml
Implemenation/.idea/modules.xml
Implemenation/.idea/misc.xml
Implemenation/.idea/inspectionProfiles/profiles_settings.xml
Implemenation/.idea/Implemenation.iml
Implemenation/Data/2-table-V0.2.csv
Implemenation/Data/schema_processed_1615861448988.json
Implemenation/Data/Annotated.zip
Implemenation/Data/Annotated/Annotator1.xlsx
Implemenation/Data/Annotated/Annotator2.xlsx
Implemenation/Data/Annotated/Annotator3.xlsx
Implemenation/Data/Annotated/Annotator4.xlsx
Implemenation/Data/Annotated/Annotator4.xlsx/annotator_missing_values

Implementation/Data/schema_processed_1617174847206.json
Implementation/Data/schema_processed_1617174847206.json
Implementation/Data/AmplifiedSimilarity-bert-base-nli-mean-tokensV0.2.txt
Implementation/Data/AmplifiedSimilarity-bert-base-nli-stsb-mean-tokensV0.1.txt
Implementation/Data/AmplifiedSimilarity-bert-base-nli-stsb-mean-tokensV0.1.txt
Implementation/Data/AmplifiedSimilarity-bert-base-nli-stsb-mean-tokensV0.1.txt
Implementation/Data/AmplifiedSimilarity-bert-base-nli-stsb-mean-tokensV0.1.txt
Implementation/Data/AmplifiedSimilarity-V0.1.txt
Implementation/Data/AmplifiedSimilarity-V0.1.txt
Implementation/Data/AmplifiedSimilarity-V0.2.txt
Implementation/Data/AmplifiedSimilarity-V0.3.txt
Implementation/Data/AmplifiedSimilarity-V0.3.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4bert-base-nli-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4bert-base-nli-stsb-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4bert-large-nli-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4bert-large-nli-stsb-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4distilbert-base-nli-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4distilbert-base-nli-stsb-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4roberta-base-nli-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4roberta-base-nli-stsb-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4roberta-large-nli-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4roberta-large-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4.txt
Implementation/Data/AmplifiedSimilarity-V0.4bert-base-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4bert-base-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4bert-large-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4bert-large-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4distilbert-base-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4distilbert-base-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4roberta-base-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4roberta-base-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4roberta-large-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.4roberta-large-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5.txt
Implementation/Data/AmplifiedSimilarity-V0.5bert-base-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5bert-base-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5bert-large-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5bert-large-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5distilbert-base-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5distilbert-base-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5roberta-base-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5roberta-base-nli-stsb-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5roberta-large-nli-mean-tokens.txt
Implementation/Data/AmplifiedSimilarity-V0.5roberta-large-nli-stsb-mean-tokens.txt
Implementation/Data/1.6 CREATE aa/AmplifiedSimilarity-V0.4.txt
